{% extends 'base_lijing.html' %}


{% block title %}basic{% endblock %}



{% block sidebar %}

<div class="sidebar-sticky pt-3">

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('lijing.board') }}">
        <span data-feather="home"></span>
        面板 <span class="sr-only">(current)</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="file"></span>
        模块一
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="shopping-cart"></span>
        模块二
      </a>
    </li>

    <li class="nav-item">

      <a class="nav-link" href="#" data-toggle="collapse" data-target="#demo">
        <span data-feather="users"></span>
        教师管理
      </a>

      <div class="collapse show" id="demo">
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('lijing_basicinfo.hello') }}">
              &nbsp;&nbsp;<span data-feather="file-text"></span>
              教师基本信息
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              &nbsp;&nbsp;<span data-feather="file-text"></span>
              教师业务档案
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              &nbsp;&nbsp;<span data-feather="file-text"></span>
              教师荣誉档案
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              &nbsp;&nbsp;<span data-feather="file-text"></span>
              数据检索
            </a>
          </li>
        </ul>
      </div>

    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="bar-chart-2"></span>
        模块四
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="layers"></span>
        模块五
      </a>
    </li>
  </ul>

</div>

{% endblock %}





{% block content %}

<div class="jumbotron">
  <h1 id="jumbotron_string">教师基本信息</h1>
  <p class="lead">...</p>
</div>

<div id="success_info" class="alert alert-success alert-dismissible" style="display: none;">
  <strong id="success_msg"></strong>
</div>

<div class="row" id="search_bar">
  <div class="input-group mb-3 col-md-4">
    <div class="input-group-prepend">
      <label class="input-group-text" for="select_year">年份</label>
    </div>
    <select class="custom-select" id="select_year">
      {% for year in year_list %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group mb-3 col-md-8">
    <div class="input-group-prepend">
      <select class="custom-select" id="search_select">
      </select>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="search_string">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="search_data()">搜索</button>
    </div>
  </div>
</div>


<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="toolbar">
  <div class="dropdown mr-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      功能
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:void(0)" onclick="show_add_modal()">添加</a>
      <a class="dropdown-item" href="javascript:void(0)" onclick="show_import_modal()">导入</a>
      <a class="dropdown-item" href="javascript:void(0)" onclick="show_export_modal()" id="export_button">导出</a>
    </div>
  </div>
  <div class="mr-2">
    <button id="origin_button" type="button" class="btn btn-secondary" onclick="show_origin_table()"
      style="display: none;">查看原表</button>
  </div>
</div>


<table id="table" class="table-striped" data-sortable="true">
</table>



<div class="modal fade" id="detailModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title" id="detail_modal_title">基本信息</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- 模态框主体 -->
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="person_name">姓名*</label>
              <input type="text" class="form-control" id="person_name" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="gender">性别</label>
              <input type="text" class="form-control" id="gender" placeholder="" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="id_number">身份证号*</label>
              <input type="text" class="form-control" id="id_number" placeholder="" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="time_work">参加工作时间</label>
              <input type="text" class="form-control" id="time_work" placeholder="" readonly>
            </div>
            <div class="form-group col-md-4">
              <label for="phone">联系电话</label>
              <input type="text" class="form-control" id="phone" placeholder="" readonly>
            </div>
            <div class="form-group col-md-2">
              <label for="political_status">政治面貌</label>
              <input type="text" class="form-control" id="political_status" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="time_Party">入党时间</label>
              <input type="text" class="form-control" id="time_Party" placeholder="" readonly>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="edu_start">第一学历</label>
              <input type="text" class="form-control" id="edu_start" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="time_edu_start">毕业时间</label>
              <input type="text" class="form-control" id="time_edu_start" placeholder="" readonly>
            </div>
            <div class="form-group col-md-4">
              <label for="school_edu_start">毕业学校</label>
              <input type="text" class="form-control" id="school_edu_start" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="major_edu_start">专业</label>
              <input type="text" class="form-control" id="major_edu_start" placeholder="" readonly>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="edu_end">最高学历</label>
              <input type="text" class="form-control" id="edu_end" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="time_edu_end">毕业时间</label>
              <input type="text" class="form-control" id="time_edu_end" placeholder="" readonly>
            </div>
            <div class="form-group col-md-4">
              <label for="school_edu_end">毕业学校</label>
              <input type="text" class="form-control" id="school_edu_end" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="major_edu_end">专业</label>
              <input type="text" class="form-control" id="major_edu_end" placeholder="" readonly>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="skill_title">专业技术职称</label>
              <input type="text" class="form-control" id="skill_title" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="time_skill">取得时间</label>
              <input type="text" class="form-control" id="time_skill" placeholder="" readonly>
            </div>
            <div class="form-group col-md-4">
              <label for="skill_unit">发证单位</label>
              <input type="text" class="form-control" id="skill_unit" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="skill_number">发证文件批号</label>
              <input type="text" class="form-control" id="skill_number" placeholder="" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="work_kind">用工性质</label>
              <input type="text" class="form-control" id="work_kind" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="job_post">工作岗位</label>
              <input type="text" class="form-control" id="job_post" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="time_school">调入大集中学时间</label>
              <input type="text" class="form-control" id="time_school" placeholder="" readonly>
            </div>
            <div class="form-group col-md-3">
              <label for="time_retire">退休时间</label>
              <input type="text" class="form-control" id="time_retire" placeholder="" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="address">住址</label>
            <input type="text" class="form-control" id="address" placeholder="" readonly>
          </div>
          <div class="form-group">
            <label for="resume">工作简历</label>
            <textarea class="form-control" id="resume" rows="3" readonly></textarea>
          </div>
        </form>
      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">

        <button type="button" id="button_add" class="btn btn-primary" style="display: none;"
          onclick="add_data()">添加</button>
        <button type="button" id="button_update" class="btn btn-primary" style="display: none;"
          onclick="update_data()">修改</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="importModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title" id="modal-import-title">导入数据</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- 模态框主体 -->
      <div class="modal-body">
        <form action="{{ url_for('lijing_basicinfo.importData') }}" enctype='multipart/form-Data' method='POST'>
          <div class="alert alert-primary" role="alert">
            请选择要导入的年份和Excel表格(.xlsx)
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">年份</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="year_select">
              {% for year in year_list %}
              {% if year != "暂无数据" %}
              <option value="{{ year }}">{{ year }}</option>
              {% endif %}
              {% endfor %}
              <option value="{{ year_new }}">{{ year_new }} （新增）</option>
            </select>
          </div>
          <div class="input-group">
            <div class="custom-file">
              <input onchange="showFilename(this.files[0])" type="file" class="custom-file-input" id="inputGroupFile04"
                name="file" required>
              <label id="filename_label" class="custom-file-label" for="inputGroupFile04">选择文件</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">导入</button>
            </div>
          </div>
        </form>
      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button> -->
      </div>

    </div>
  </div>
</div>




{% endblock %}



{% block files %}

<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>

<script>
  var update_person_id = 0;

  function init() {
    var select_search = document.getElementById("search_select");
    var item = {
      "姓名": "person_name", "性别": "gender", "身份证号": "id_number", "联系电话": "phone", "政治面貌": "political_status", "入党时间": "time_Party", "参加工作时间": "time_work", "家庭住址": "address", "个人简历": "resume",
      "第一学历": "edu_start", "第一学历毕业时间": "time_edu_start", "第一学历毕业学校": "school_edu_start", "第一学历专业": "major_edu_start", "最高学历": "edu_end", "最高学历毕业时间": "time_edu_end", "最高学历毕业学校": "school_edu_end", "最高学历专业": "major_edu_end",
      "专业技术职称": "skill_title", "职称取得时间": "time_skill", "职称发证单位": "skill_unit", "发证文件批号": "skill_number",
      "调入大集中学时间": "time_school", "用工性质": "work_kind", "工作岗位": "job_post", "退休时间": "time_retire"
    };

    for (var i in item)
      select_search.options.add(new Option(i, item[i]));

  }
  init();



  function operateFormatter(value, row, index) {
    return [
      '<a class="detail" href="javascript:void(0)" title="Detail">',
      '<i class="fa fa-bars"></i>',
      '</a>&nbsp;&nbsp;&nbsp;',
      '<a class="update" href="javascript:void(0)" title="Update">',
      '<i class="fa fa-edit"></i>',
      '</a>&nbsp;&nbsp;',
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      '<i class="fa fa-trash"></i>',
      '</a>'
    ].join('')
  }

  window.operateEvents = {
    'click .detail': function (e, value, row, index) {
      document.getElementById("detail_modal_title").innerHTML = row.person_name + "--基本信息";

      $.getJSON($SCRIPT_ROOT + '/lijing_basicinfo/search', { id: row.person_id }, function (datas) {
        var item = ["person_name", "gender", "id_number", "phone", "political_status", "time_Party", "time_work", "address", "resume",
          "edu_start", "time_edu_start", "school_edu_start", "major_edu_start", "edu_end", "time_edu_end", "school_edu_end", "major_edu_end",
          "skill_title", "time_skill", "skill_unit", "skill_number",
          "time_school", "work_kind", "job_post", "time_retire"];

        for (var i = 0; i < item.length; i++) {
          document.getElementById(item[i]).value = datas[item[i]];
        }

      });
      document.getElementById("button_add").style.display = "none";
      document.getElementById("button_update").style.display = "none";
      $("#detailModal input").attr("readOnly", true);
      $("#resume").attr("readOnly", true);
      $('#detailModal').modal('show');

    },
    'click .update': function (e, value, row, index) {
      update_person_id = row.person_id;

      document.getElementById("detail_modal_title").innerHTML = '修改教师"' + row.person_name + '"的基本信息';

      $.getJSON($SCRIPT_ROOT + '/lijing_basicinfo/search', { id: row.person_id }, function (datas) {
        var item = ["person_name", "gender", "id_number", "phone", "political_status", "time_Party", "time_work", "address", "resume",
          "edu_start", "time_edu_start", "school_edu_start", "major_edu_start", "edu_end", "time_edu_end", "school_edu_end", "major_edu_end",
          "skill_title", "time_skill", "skill_unit", "skill_number",
          "time_school", "work_kind", "job_post", "time_retire"];
        for (var i = 0; i < item.length; i++) {
          document.getElementById(item[i]).value = datas[item[i]];
        }
      });

      document.getElementById("button_add").style.display = "none";
      document.getElementById("button_update").style.display = "block";
      $("#detailModal input").attr("readOnly", false);
      $("#resume").attr("readOnly", false);
      $('#detailModal').modal('show');

    },
    'click .remove': function (e, value, row, index) {
      window.alert("待开发");
      //$table.bootstrapTable('remove', {field: 'id',values: [row.person_id]})
    }
  }

  function init_table() {
    $('#table').bootstrapTable({
      url: '/lijing_basicinfo/jsondata',  // 请求数据源的路由
      method: 'get',
      dataType: "json",
      theadClasses: "thead-light",//标题样式
      pagination: true, //前端处理分页
      singleSelect: false,//是否只能单选
      search: false, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
      toolbar: '#toolbar', //工具按钮用哪个容器
      cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
      pagination: true,
      pageNumber: 1, //初始化加载第10页，默认第一页
      pageSize: 20, //每页的记录行数（*）
      pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
      smartDisplay: false,
      strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
      showColumns: true, //显示内容列下拉框
      showRefresh: true, //显示刷新按钮
      minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
      clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
      uniqueId: "id", //每一行的唯一标识，一般为主键列
      showToggle: true, //是否显示详细视图和列表视图的切换按钮
      cardView: false, //是否显示详细视图
      detailView: false,                   //是否显示父子表
      sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
      columns: [
        //{
        //    checkbox: false  //第一列显示复选框
        //},
        {  //定义表头,这个表头必须定义,下边field后边跟的字段名字必须与后端传递的字段名字相同.如:id、name、price跟后端的字段名id  name price是完全一样的.
          field: 'person_id',
          title: '编号',
          align: 'center',  //对齐方式，居中 
        }, {
          field: 'person_name',
          title: '姓名',
          align: 'center'
        }, {
          field: 'gender',
          title: '性别',
          align: 'center',

        }, {
          field: 'operations',
          title: '操作',
          align: 'center',
          clickToSelect: false,
          events: window.operateEvents,
          formatter: operateFormatter
        }
      ],
      //onDblClickRow: function (row, $element, field) {},
    });

  }
  init_table();





  function show_import_modal() {
    $('#importModal').modal('show');
  };

  function show_add_modal() {
    var item = ["person_name", "gender", "id_number", "phone", "political_status", "time_Party", "time_work", "address", "resume",
      "edu_start", "time_edu_start", "school_edu_start", "major_edu_start", "edu_end", "time_edu_end", "school_edu_end", "major_edu_end",
      "skill_title", "time_skill", "skill_unit", "skill_number",
      "time_school", "work_kind", "job_post", "time_retire"];

    for (var i = 0; i < item.length; i++) {
      document.getElementById(item[i]).value = "";
    }

    document.getElementById("button_add").style.display = "block";
    document.getElementById("button_update").style.display = "none";
    document.getElementById("detail_modal_title").innerHTML = "新增教师基本信息";

    $("#detailModal input").attr("readOnly", false);
    $("#resume").attr("readOnly", false);

    $("#detailModal").modal("show");
  };




  function add_data() {
    if (document.getElementById("person_name").value == "") {
      window.alert("姓名为必填项！");
      return;
    }
    if (document.getElementById("id_number").value == "") {
      window.alert("身份证为必填项！");
      return;
    }

    var datas = {};
    var item = ["person_name", "gender", "id_number", "phone", "political_status", "time_Party", "time_work", "address", "resume",
      "edu_start", "time_edu_start", "school_edu_start", "major_edu_start", "edu_end", "time_edu_end", "school_edu_end", "major_edu_end",
      "skill_title", "time_skill", "skill_unit", "skill_number",
      "time_school", "work_kind", "job_post", "time_retire"];

    for (var i = 0; i < item.length; i++) {
      datas[item[i]] = document.getElementById(item[i]).value;
    }

    $.getJSON($SCRIPT_ROOT + '/lijing_basicinfo/add_data', datas, function (return_data) {
      document.getElementById("success_info").style.display = "block";
      document.getElementById("success_msg").innerHTML = return_data['msg'];
      $("#detailModal").modal("hide");
    });

  };

  function update_data() {
    if (document.getElementById("person_name").value == "") {
      window.alert("姓名为必填项！");
      return;
    }
    if (document.getElementById("id_number").value == "") {
      window.alert("身份证为必填项！");
      return;
    }

    var datas = {};
    var item = ["person_name", "gender", "id_number", "phone", "political_status", "time_Party", "time_work", "address", "resume",
      "edu_start", "time_edu_start", "school_edu_start", "major_edu_start", "edu_end", "time_edu_end", "school_edu_end", "major_edu_end",
      "skill_title", "time_skill", "skill_unit", "skill_number",
      "time_school", "work_kind", "job_post", "time_retire"];

    datas["person_id"] = update_person_id;
    for (var i = 0; i < item.length; i++) {
      datas[item[i]] = document.getElementById(item[i]).value;
    }

    $.getJSON($SCRIPT_ROOT + '/lijing_basicinfo/update_data', datas, function (return_data) {
      document.getElementById("success_info").style.display = "block";
      document.getElementById("success_msg").innerHTML = return_data['msg'];
      $("#detailModal").modal("hide");
      $("#table").bootstrapTable('refresh');
    });

  }

  function search_data(){
    if (document.getElementById("search_string").value == "") {
      window.alert("请输入要查询的内容");
      return;
    }

    var index = document.getElementById("search_select").selectedIndex;
    var search_item = document.getElementById("search_select").options[index].value;

    var search_string = document.getElementById("search_string").value;

    datas = {};
    datas["search_item"] = search_item;
    datas["search_string"] = search_string;

    $.getJSON($SCRIPT_ROOT + '/lijing_basicinfo/search_data', datas, function (return_data) {
      document.getElementById("success_info").style.display = "block";
      document.getElementById("success_msg").innerHTML = return_data['msg'];



      $("#table").bootstrapTable("destroy");
      $('#table').bootstrapTable({
          //url: '/lijing_basicinfo/jsondata',  // 请求数据源的路由
          data: return_data['rows'],
          //method: 'get',
          dataType: "json",
          theadClasses: "thead-dark",//标题样式
          pagination: true, //前端处理分页
          singleSelect: false,//是否只能单选
          search: false, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
          toolbar: '#toolbar', //工具按钮用哪个容器
          cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
          pagination: false,
          pageNumber: 1, //初始化加载第10页，默认第一页
          pageSize: 20, //每页的记录行数（*）
          pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
          smartDisplay: false,
          strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
          showColumns: true, //显示内容列下拉框
          showRefresh: true, //显示刷新按钮
          minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
          clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
          uniqueId: "id", //每一行的唯一标识，一般为主键列
          showToggle: true, //是否显示详细视图和列表视图的切换按钮
          cardView: false, //是否显示详细视图
          detailView: false,                   //是否显示父子表
          sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
          columns: [
              //{
              //    checkbox: false  //第一列显示复选框
              //},
              {  //定义表头,这个表头必须定义,下边field后边跟的字段名字必须与后端传递的字段名字相同.如:id、name、price跟后端的字段名id  name price是完全一样的.
                  field: 'person_id',
                  title: '编号',
                  align: 'center',  //对齐方式，居中 
              }, {
                  field: 'person_name',
                  title: '姓名',
                  align: 'center'
              }, {
                  field: 'gender',
                  title: '性别',
                  align: 'center',

              }, {
                  field: 'operations',
                  title: '操作',
                  align: 'center',
                  clickToSelect: false,
                  events: window.operateEvents,
                  formatter: operateFormatter
              }
          ],
          //onDblClickRow: function (row, $element, field) {},
      });

    });

  }



  function showFilename(file) {
    $("#filename_label").html(file.name);
  };

</script>


{% endblock %}